<div class="container mb-5">
  <br />
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px">
      <h4 class="card-title mt-3 text-center">Регистрирай се</h4>

      <form [formGroup]="registerForm" (submit)="register()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="Име"
            type="text"
            formControlName="username"
          />
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="Парола"
            type="password"
            formControlName="password"
          />
        </div>
        <div
          *ngIf="
            registerForm.get('password').touched &&
            registerForm.get('password').invalid
          "
          class="errors"
        >
          Паролата трябва да съдържа поне 6 символа
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input
            class="form-control"
            placeholder="Потвърди парола"
            type="password"
            formControlName="confirmPassword"
          />
        </div>
        <div
          *ngIf="
            registerForm.get('confirmPassword').touched &&
            registerForm.get('confirmPassword').invalid
          "
          class="errors"
        >
          Паролата трябва да съдържа поне 6 символа
        </div>

        <div class="input-group">
          <button
            [disabled]="!registerForm.valid"
            type="submit"
            class="btn btn-primary btn-block"
          >
            Регистрирай се
          </button>
        </div>

        <p class="text-center">
          Вече си регистриран? <a routerLink="/login">Влез</a>
        </p>
      </form>
    </article>
  </div>
  <!-- card.// -->
</div>
<!--container end.//-->

<br />
