<div class="container bootdey" *ngIf="carToDisplay">
  <div class="col-md-12">
    <section class="panel">
      <div class="panel-body row">
        <div class="col-md-6">
          <img
            class="d-block w-100"
            style="max-width: 550px"
            [src]="carToDisplay.image"
            alt="First slide"
          />
        </div>
        <div class="col-md-6">
          <div class="product_meta">
            <span class="posted_in">
              <strong>Описание:</strong>
              <span rel="tag">{{ carToDisplay.description }}</span></span
            >
            <span class="posted_in">
              <strong>посещения:</strong>
              <span rel="tag">{{ carToDisplay.views }}</span></span
            >
          </div>
          <div class="m-bot15">
            <strong>Цена : </strong>
            <span>{{ carToDisplay.price }} лева</span>
          </div>
          <br />
          <p>
            <button
              class="btn btn-round btn-danger"
              type="button"
              *ngIf="isAuthenticated"
            >
              Купи
            </button>
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
