<div class="container">
  <div class="row gutters">
    <div class="card-body">
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <h6 class="mb-2 text-primary">Лична информация</h6>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="name">Име</label>
            <input type="text" class="form-control" id="name" />
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="sureName">Фамилия</label>
            <input type="sureName" class="form-control" id="sureName" />
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="phone">Тел. номер</label>
            <input type="name" class="form-control" id="phone" />
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="email">Имейл</label>
            <input type="name" class="form-control" id="email" />
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <label for="facebook">Фейсбук/Инстаграм профил</label>
            <input type="text" class="form-control" id="facebook" />
          </div>
        </div>
      </div>
      <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="text-right">
            <button
              type="button"
              id="submit"
              name="submit"
              class="btn btn-secondary mr-2"
            >
              Cancel
            </button>
            <button
              type="button"
              id="submit"
              name="submit"
              class="btn btn-primary"
            >
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
